{% load static %}
<!DOCTYPE html>
<head>
    <title> MakeUp </title>
    <link rel="stylesheet" href={% static 'css/style2.css' %}>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!-- Include the above in your HEAD tag -->
<body>
<!-- details card section starts from here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Beauty Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Products</a>
        </li>
     
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<section class="details-card">
    <div class="container">
        <div class="row">

            {% for element in listProducts %}
            <div class="col-md-3 m-4 mx-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="{{ element.url }}" alt="">
                    </div>
                    <div class="card-desc">
                        <h3>{{ element.name }}</h3>
                        <p>[{{ element.price }}]</p>
                        <br>
                        <a href="{% url 'details' %}" id="butn" class=" btn-card mt-2">Add to Shopping list</a>   
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</body>
<!-- details card section starts from here -->